body {
    display: grid;
    grid-template-columns: 1fr 5fr;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.sidebar {
    background-color: #b8f5ff;
}

h1 {
    margin: 15px;
    display: flex;
    align-items: center;
}

h1 > img {
    height: 1.2em;
}

.sidebar ul {
    list-style: none;
    padding: 0 30px;
}

.sidebar li {
    font-size: 18px;
    padding: 5px;
    display: flex;
    align-items: center;
}

li .icon {
    padding-right: 10px;
}

.container {
    display: grid;
    grid-template-rows: 10vh 13vh 80vh;
}

.header {
    grid-row: 1 / 2;
}

.profile {
    box-shadow: 0px 10px 10px -10px #bbbdbb;
    grid-row: 2 / 3;
}

.header, .profile {
    padding:  10px 40px;
    display: grid;
    grid-template-columns: 3fr 1fr;
    justify-content: space-between;
}

.icon {
    width: 20px;
    display: inline;
}

form {
    display: flex;
    align-items: center;
    gap: 10px;
}

input {
    width: 30vw;
    height: 3vh;
    border: solid transparent;
    background-color: #e0e0e0;
    border-radius: 20px;
}

.notification {
    display: grid;
    grid-template-columns: 3rem 3rem 5rem;
    align-items: center;
    font-weight: bold;
    justify-self: end;
}

.profileImage {
    border-radius: 50%;
}

.notification > * {
    justify-self: end;
}

.notification > .profileImage {
    height: 30px;
}

.profile .profileImage {
    height: 60px;
}

.profile > div:first-child {
    display: grid;
    grid-template-columns: 4.5rem 15rem;
    justify-items: start;
}

.hi > p {
    font-weight: bold;
    margin: 5px;
}

.hi > p:last-child {
    font-size: 20px;
}

.profile > div:last-child {
    display: grid;
    grid-template-columns: repeat(3, 6rem);
    column-gap: 20px;
}

button {
    font-size: 15px;
    background-color: #ffc3bf;
    border: solid transparent 1px;
    border-radius: 20px;
    padding: 10px 20px;
    height: 50px;
}

.main {
    padding: 10px;
    display: grid;
    background-color: #c9c9c9;
    grid-template-columns: 2fr 1fr;
    gap: 20px;
    grid-row: 3 / 4;
}

.projects {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-template-rows: 30px repeat(3, minmax(0, 1fr));
    gap: 20px;
}

.projects > h3 {
    grid-column: 1 / 3;
    margin-top: 15px;
}

.card {
    background-color: white;
    padding: 10px;
    border: solid transparent;
    border-radius: 10px;
}

.card > h4 {
    margin: 5px;
}

.card > p {
    margin: 5px;
    color: #949494;
    font-size: 14px;
}

.main > div:last-child {
    grid-column: 2 / 3;
}

.announcements > h4 {
    margin-top: 15px;
}

.announcements > .card {
    padding: 30px;
    font-size: 12px;
    color: #949494;
}

.announcements > .card > h5 {
    margin: 5px;
    padding-top: 10px;
    color: black;
    font-size: 14px;
}

.announcements > .card > p {
    padding-bottom: 10px;
}