body {
    display: grid;
    grid-template-columns: 1fr 5fr;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.sidebar {
    background-color: #b8f5ff;
    height: 100vh;
}

h1 {
    margin: 15px;
    display: flex;
    align-items: center;
}

h1 > img {
    height: 1.2em;
}

.sidebar ul {
    list-style: none;
    padding: 0 30px;
}

.sidebar li {
    font-size: 18px;
    padding: 5px;
    display: flex;
    align-items: center;
}

li .icon {
    padding-right: 10px;
}

.header, .profile {
    padding:  10px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.icon {
    width: 20px;
    display: inline;
}

form {
    display: flex;
    align-items: center;
    gap: 10px;
}

input {
    width: 30vw;
    height: 3vh;
    border: solid transparent;
    background-color: #e0e0e0;
    border-radius: 20px;
}

.notification {
    display: flex;
    gap: 20px;
    align-items: center;
    font-weight: bold;
}

.profileImage {
    border-radius: 50%;
}

.notification > .profileImage {
    height: 30px;
}

.profile .profileImage {
    height: 60px;
}

.profile > div {
    display: flex;
    gap: 20px;
}

.hi > p {
    font-weight: bold;
    margin: 5px;
}

.hi > p:last-child {
    font-size: 20px;
}

button {
    font-size: 15px;
    background-color: #ffc3bf;
    border: solid transparent 1px;
    border-radius: 20px;
    padding: 10px 20px;
}
